body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.title {
    color: #DC3545;
}

.title::after {
     content: '';
     width: 30px;
     height: 4px;
     border-radius: 3px;
     background-color: #DC3545;
     position: absolute;
     top: 16%;
     left: 50%;
     transform: translateX(-50%);
}


.login-form{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    /* border: 2px solid; */
    padding: 20px;
    align-items: center;
    gap: 10px;
    position: relative;
    background-color: #fff;
}


.input-field {
    margin-top: 20px;
    width: 85%;
    height: 15%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #eaeaea;
    padding: 10px;
    
}

.inputs {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
}

.icons {
    color: #999;
}

/* button {
    width: 40%;
} */
.submit {
    width: 40%;
    height: 10%;
}

#first {
    margin-top: 35px;
}