body {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

/* Heading */
.heading {
  display: flex;
  background-color: #dc3545;
  padding: 0 7px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.links {
  display: flex;
  gap: 20px;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #fff;
}

/* Index */
.container {
  text-align: center;
}

.title {
  font-size: larger;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.recipe {
  width: 350px;
  height: 350px;
  border: #dc3545 solid;
}

.images {
  height: 250px;
  width: 350px;
}

/* DC3545 */

/* Recipe contents .container {
  display: flex;
  justify-content: center;
  background-color: beige;
  width: 100%;
}
.recipe-info {
  width: 600%;
} */

/* Search Page */
.container-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-page {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
  justify-content: center;
}
.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: transparent;
  border: none;
  outline: none;
}

.filters {
  margin-left: 1rem;
  display: flex;
  gap: 10px;
}

.filter-ingredients,
.filter-area,
.filter-category {
  /* width: 100%; */
  padding: 0.5rem;
  border: 1px solid #dc3545;
  border-radius: 0.25rem;
}

.search-button {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: #f8d7da;
  cursor: pointer;
  border: none;
}

.search-space {
  background-color: #f8d7da;
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 40px;
  padding: 5px;
  border-radius: 50px;
}
.search-results {
  width: 100%;
  height: 100%px;
  background-color: red;
}
/* End of search page */
