{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}

<form action="/favourites">
  <div class="favourites">
    {% for meal in favourites %}
    <div class="favourite">
      <div class="images">
        <img src="{{ meal["img_source"] }}" class="images" />
      </div>
      <div class="details">
        {{ meal["meal"] }} <br />
        {{ meal["category"] }}<br />
        {{ meal["origin"] }}
      </div>
    </div>
    {% endfor %}
  </div>
</form>

{% endblock %}
