{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}
<div class="container">
  <h2 class="title">Todays recipes</h2>
  <div class="recipes">
    {% for meal in meals %}

    <div class="recipe">
      <a  href="/recipe?id={{ meal["id"] }}">
        <div class="images">
          <img class ="images" src="{{ meal["img_source"] }}" alt="{{
          meal["meal"]}}" />
        </div>
      </a>
      
        <div class="description">
          <a class="meal-name"  href="/recipe?id={{ meal["id"] }}"> {{ meal["meal"] }} </a>
          <br />
          {{ meal["category"] }} <br />
          {{ meal["origin"] }} <br>
          <a class="video" href="{{ meal["youtube"] }}"><i class="fa-brands fa-youtube" style="color: #dc3545;"></i> Watch video</a>
        </div>  

      
    </div>
    {% endfor %}
     

    {% endblock %}
  </div>
</div>
