{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}
<div class="container">
  <h2 class="title">Todays recipe's</h2>
  <div class="recipes">
    {% for meal in meals %}

    <div class="recipe">
      <div class="images">
        <img class ="images" src="{{ meal["img_source"] }}" alt="{{
        meal["meal"]}}" />
      </div>
      <div class="description">
        {{ meal["id"] }} <br>
        <a href="/recipe?id={{ meal["id"] }}"> {{ meal["meal"] }} </a>
        <br />
        {{ meal["category"] }} <br />
        {{ meal["origin"] }} <br>
        <a href="{{ meal["youtube"] }}">Watch video</a>
      </div>
    </div>
    {% endfor %}
    

    {% endblock %}
  </div>
</div>
