<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/01821c8375.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% if session["user_id"] %}
    <div class="heading">
      <h3 class="logo">recipes</h3>
      <ul class="links">
        <li>
          <a class="link" href="/"
            ><i class="fa-solid fa-house" style="color: #f7f8f8"></i> Home</a
          >
        </li>
        <li>
          <a class="link" href="/search"
            ><i class="fa-solid fa-magnifying-glass" style="color: #ffffff"></i>
            Search</a
          >
        </li>
        <li>
          <a class="link" href="#"
            ><i class="fa-solid fa-bookmark" style="color: #fcfcfc"></i>
            Favourites</a
          >
        </li>
      </ul>
    </div>
    {% else %}
    <a href="/login"></a>
    {% endif %} {% block main %}{% endblock %}
  </body>
</html>
