<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe</title>
    <link rel="stylesheet" href="/static/CSS/recipe.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aclonica&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3&family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/01821c8375.js"
      crossorigin="anonymous"
    ></script>
    
  </head>
  <body>
    <div class="header">
      <div class="heading">
        <h3 class="logo">recipes</h3>
        <ul class="links">
          <li><a class="link" href="/"><i class="fa-solid fa-house" style="color: #f7f8f8"></i> <span class="mobile">Home</span></a></li>
          <li><a class="link" href="/search"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff"></i> <span class="mobile">Search</span></a></li>
          <li><a class="link" href="/favourites"><i class="fa-solid fa-bookmark" style="color: #fcfcfc"></i> <span class="mobile">Favourites</span></a></li>
        </ul>
      </div>
      
    </div>
    <form action="/recipe" , method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <div class="container">
        <div class="recipe-info">
          <div class="recipe-title">{{ meal["meal"] }}</div>

          <img class="recipe-image" src="{{ meal["img_source"] }}" alt="{{
          meal["meal"]}}">

          <!-- Ingredients -->
          <h3 class="ingredient-title">Ingredients</h3>
          <ul class="ingredients">
            {% for ingredient,amount in meal["ingredients"].items() %}
            <li>{{ ingredient }} : {{ amount }}</li>
            {% endfor %}
          </ul>

          <!-- Instructions -->
          <h3 class="instruction-title">instructions</h3>
          <p class="instruction">
            {% for letter in meal["instructions"].split("\n")%}
                <span class="letter">{{ letter }}</span>
                <br>
            {% endfor %}
          </p>
         
          <!-- Video -->
          <div class="vid">
          <button class="youtube" ><a href="{{ meal["youtube"]}}"><i class="fa-brands fa-youtube" style="color: #fff;"></i> Youtube video</a></button>
          <button id="favourites" type="submit" class="btn btn-outline-danger submit">
            <i class="fa-solid fa-bookmark icon"></i> Add to favourites
          </button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
